.slider{
    background: url('assets/imagen1.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.mundo{
    -webkit-text-stroke: 2px black;
}

.img {
    width: 540px;
    height: 260px;
}